body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

form input {
  padding: 10px;
  width: 30%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

#expenseTable th:nth-child(2), 
#expenseTable td:nth-child(2) {
  width: 25%; /* Adjust width for the new Quantity column */
}

#expenseTable th:nth-child(3), 
#expenseTable td:nth-child(3) {
  width: 25%; /* Adjust width for the new Total column */
}

#totalSection {
  margin-bottom: 20px;
}

button#downloadBtn {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button#downloadBtn:hover {
  background-color: #0b79d0;
}

